{% extends 'productos/base.html' %}

{% block title %}Buscar Productos{% endblock %}

{% block content %}
<h1>Buscar Productos</h1>
<form method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<ul>
    {% for producto in resultados %}
    <li>{{ producto.marca }} - {{ producto.modelo }} - {{ producto.precio }}</li>
    {% empty %}
    <li>No se encontraron resultados</li>
    {% endfor %}
</ul>
{% endblock %}
