{% extends 'productos/base.html' %}

{% block title %}Detalles del Producto{% endblock %}

{% block content %}
<div class="container" style="margin-top: 80px;">
    <h1>Detalles del {{ tipo|capfirst }}</h1>
    <h2>{{ producto.marca }} {{ producto.modelo }}</h2>
    <p>Precio: {{ producto.precio }}</p>
    <p>Descripción: {{ producto.descripcion }}</p>

    {% if tipo == 'celular' %}
        <p><strong>Detalles específicos del celular:</strong></p>
        <!-- Agrega aquí los detalles específicos del celular -->
    {% elif tipo == 'computadora' %}
        <p><strong>Detalles específicos de la computadora:</strong></p>
        <!-- Agrega aquí los detalles específicos de la computadora -->
    {% elif tipo == 'televisor' %}
        <p><strong>Detalles específicos del televisor:</strong></p>
        <!-- Agrega aquí los detalles específicos del televisor -->
    {% endif %}
</div>
{% endblock %}
