{% extends 'productos/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <h1>Productos</h1>
    <h2>Celulares</h2>
    <ul>
        {% for celular in celulares %}
        <li>{{ celular.marca }} - {{ celular.modelo }}</li>
        {% empty %}
        <li>No hay celulares disponibles.</li>
        {% endfor %}
    </ul>

    <h2>Computadoras</h2>
    <ul>
        {% for computadora in computadoras %}
        <li>{{ computadora.marca }} - {{ computadora.modelo }}</li>
        {% empty %}
        <li>No hay computadoras disponibles.</li>
        {% endfor %}
    </ul>

    <h2>Televisores</h2>
    <ul>
        {% for televisor in televisores %}
        <li>{{ televisor.marca }} - {{ televisor.modelo }}</li>
        {% empty %}
        <li>No hay televisores disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
