{% extends 'productos/base.html' %}

{% block title %}Lista de Celulares{% endblock %}

{% block content %}
<h1>Lista de Celulares</h1>
<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for celular in celulares %}
        <tr>
            <td>{{ celular.marca }}</td>
            <td>{{ celular.modelo }}</td>
            <td>{{ celular.precio }}</td>
            <td>{{ celular.descripcion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
