{% extends 'productos/base.html' %}

{% block title %}Lista de Televisores{% endblock %}

{% block content %}
<h1>Lista de Televisores</h1>
<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for televisor in televisores %}
        <tr>
            <td>{{ televisor.marca }}</td>
            <td>{{ televisor.modelo }}</td>
            <td>{{ televisor.precio }}</td>
            <td>{{ televisor.descripcion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
